*{
    margin:0;
    padding:0;
    font-family: 'Teko', sans-serif;

}

.header{
    min-height: 100vh ;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(photos/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.nav-links ul li{
    flex:1;
    text-align: right;
    display: inline-block;
    padding:8px 12px;
    position: relative;

}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size:20px;

}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #131212;
    display:block;
    margin: auto;
    transition: 0.2s;

}
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 70px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    padding: 12px 34px ;
    font-size: 15px;
    background: transparent;
    position:relative;
    cursor:pointer;


}
.hero-btn:hover{
    border:1px solid #221e1d;
    transition:0.5s;
    background: rgb(17, 16, 16);
}
nav .fas{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 40px;
    }
    .nav-links ul li{
        font-size: 35px;
        display: block;
        
    }
    .nav-links{
        position: absolute;
        background: #070606;
        height: 100vh;
        width: 200px;
        top:0;
        right:-200px ;
        text-align: left;
        z-index:2;
    }
    nav .fas{
        display: block;
        color:#fff;
        margin:10px;
        font-size: 22px;
        cursor:pointer;

    }
    .nav-links ul{
        padding: 80px;

    }

}